.footer {
  border-top: 1px solid rgb(224, 222, 222);
  padding: 20px;
  background-color: rgb(235, 235, 235);
  bottom: 0;
  text-align: center;
}
.footer > p {
  padding: 5px;
  font-size: 14px;
  color: black;
}
